@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
}

img:hover {
    scale: 102%;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border-radius: 50%;
  background: conic-gradient(#ffc639 25%,#E4E4ED 0 50%,#6F6D91 0 75%,#c439ff 0);
  animation: s2 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
   content:"";
   grid-area: 1/1;
   margin:15%;
   border-radius: 50%;
   background:inherit;
   animation:inherit;
}
.custom-loader::after {
   margin:25%;
   animation-duration: 3s;
}

@keyframes s2 {
  100% {transform: rotate(1turn)}
}